.btn.btn-outline-success.btn-sm {
   margin: 0 5px 0 0;
}

.todo-list-item-label{
   font-size: 1.5rem;
   cursor: pointer;
}


.done{
   text-decoration: line-through;
}

.important{
   color: red;
   font-weight: bold;
}